.searchResultsDisplay {
    display: flex;
    justify-content: space-around;
    // max-width: 500px;
}

// .searchResultItems {
//     max-width: 500px !important;
// }

.recentSearches {
    max-width: 250px;
}

.subSearchDisplay{
    width: 50%;
}