<div class="content" role="main">
  <div class="card highlight-card heading-container">
    <h1 class="title-heading"> {{title}} </h1>
    <div class="headliner">
      your gateway to visualizing the Ticketmaster API
    </div>
  </div>

  <div class="card-container search-components-container">
    <search-box
      id="search-input"
      (apiSearchResults)="populateSearchResults($event)"
      (searchTermUpdated)="populateRecentSearches($event)">
    </search-box>

    <search-results
      [updatedSearches]="recentSearches" 
      [results]="resultsList" 
      [noResultState]="!resultsList">
    </search-results>
  </div>
</div>


